// SPDX-License-Identifier: GPL-2.0-only
// https://github.com/CoiaPrant233/msm8916_linux

/dts-v1/;

#include "msm8916-thwc-common.dtsi"

/ {
	model = "Tong Heng Wei Chuang 4G Modem MF32LT/MF32T";
	compatible = "thwc,mf32lt-v1", "thwc,mf32t-v1", "qcom,msm8916";
};

&leds {
	led-wan-green {
		color = <LED_COLOR_ID_GREEN>;
		function = LED_FUNCTION_WAN;
		default-state = "off";
		gpios = <&tlmm 30 GPIO_ACTIVE_HIGH>;
	};

	led-wan-blue {
		color = <LED_COLOR_ID_BLUE>;
		function = LED_FUNCTION_WAN;
		default-state = "off";
		gpios = <&tlmm 29 GPIO_ACTIVE_HIGH>;
	};

	led-wan-red {
		color = <LED_COLOR_ID_RED>;
		function = LED_FUNCTION_WAN;
		default-state = "off";
		gpios = <&tlmm 28 GPIO_ACTIVE_HIGH>;
	};

	led-wlan {
		color = <LED_COLOR_ID_BLUE>;
		function = LED_FUNCTION_WLAN;
		default-state = "off";
		gpios = <&tlmm 27 GPIO_ACTIVE_HIGH>;
	};

	led-battery-1 {
		color = <LED_COLOR_ID_BLUE>;
		function = LED_FUNCTION_POWER;
		default-state = "off";
		gpios = <&tlmm 19 GPIO_ACTIVE_HIGH>;
	};

	led-battery-2 {
		color = <LED_COLOR_ID_BLUE>;
		function = LED_FUNCTION_POWER;
		default-state = "off";
		gpios = <&tlmm 22 GPIO_ACTIVE_HIGH>;
	};

	led-battery-3 {
		color = <LED_COLOR_ID_BLUE>;
		function = LED_FUNCTION_POWER;
		default-state = "off";
		gpios = <&tlmm 21 GPIO_ACTIVE_HIGH>;
	};

	led-battery-4 {
		color = <LED_COLOR_ID_BLUE>;
		function = LED_FUNCTION_POWER;
		default-state = "off";
		gpios = <&tlmm 20 GPIO_ACTIVE_HIGH>;
	};
};

&gpio_leds_default {
	pins = "gpio19", "gpio20", "gpio21", "gpio22", "gpio27", "gpio28", "gpio29", "gpio30";
};

&power_key {
	gpios = <&tlmm 34 GPIO_ACTIVE_LOW>;
};

&button_default {
	pins = "gpio34";
};

&sim_ctrl_default {
	esim-sel-pins {
		function = "gpio";
		drive-strength = <2>;
		pins = "gpio50", "gpio51";
		bias-disable;
		output-low;
	};

	sim-en-pins {
		function = "gpio";
		drive-strength = <2>;
		pins = "gpio24";
		bias-disable;
		output-low;
	};

	sim-sel-pins {
		function = "gpio";
		drive-strength = <2>;
		pins = "gpio49";
		bias-disable;
		output-high;
	};
};
