// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "sun7i-a20.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Merrii M2";
	compatible = "merrii,m2", "allwinner,sun7i-a20";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};
};

#if 0
/ {
	spi_gpio: spi-gpio {
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		cs-gpios = <&pio 8 9 GPIO_ACTIVE_LOW>; /* PI9 */
		sck-gpios = <&pio 8 8 GPIO_ACTIVE_HIGH>; /* PI8 */
		mosi-gpios = <&pio 8 7 GPIO_ACTIVE_HIGH>; /* PI7 */
		miso-gpios = <&pio 8 6 GPIO_ACTIVE_HIGH>; /* PI6 */
		num-chipselects = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi_gpio_pins_out &spi_gpio_pins_in>;

		spidev@0 {
			compatible = "spidev";
			reg = <0>;						// CS编号
			spi-max-frequency = <1000000>;	// 1MHz
		};
	};
};

&pio {
	spi_gpio_pins_out: spi_gpio_pins_out {
		allwinner,pins = "PI7", "PI8", "PI9", "PI5";  // MOSI, SCLK, CS, RESET
		allwinner,function = "gpio_out";
		allwinner,drive = <1>;
		allwinner,pull = <0>;
	};

	spi_gpio_pins_in: spi_gpio_pins_in {
		allwinner,pins = "PI6";  // MISO
		allwinner,function = "gpio_in";
		allwinner,drive = <1>;
		allwinner,pull = <0>;
	};
};
#endif

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
	operating-points = <
	/* kHz	  uV */
	1080000	1450000
	912000	1400000
	864000	1300000
	792000	1250000
	720000	1200000
	624000	1150000
	528000	1100000
	312000	1050000
	>;
};

&cpu1 {
	cpu-supply = <&reg_dcdc2>;
	operating-points = <
	/* kHz	  uV */
	1080000	1450000
	912000	1400000
	864000	1300000
	792000	1250000
	720000	1200000
	624000	1150000
	528000	1100000
	312000	1050000
	>;
};

&ahci {
	target-supply = <&reg_ahci_5v>;
	status = "okay";
};

&de {
	status = "okay";
};

&codec {
	//PAM8620: PH25, Low: enable output, High: disable output
	allwinner,pa-gpios = <&pio 7 25 GPIO_ACTIVE_HIGH>; /* PH25 */
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&gmac {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_mii_pins>;
	phy-handle = <&phy1>;
	phy-mode = "mii";
	status = "okay";
};

&gmac_mdio {
	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

// LVDS
&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pin>; /* PB02 */
	status = "okay";
};

/* I2C
* NO: SCL,	SDA
*  0: PB00, PB01
*  1: PB18, PB19
*  2: PB20, PB21
*  3: PI00, PI01
*  4: PI02, PI03
*/
&i2c0 {
	status = "okay";
/*
	axp209: pmic@34 {
		compatible = "x-powers,axp209";
		reg = <0x34>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

		interrupt-controller;
		#interrupt-cells = <1>;
	};
*/
	axp209: pmic@34 {
		reg = <0x34>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
	};
};

&i2c1 {
	status = "okay";
};

// touch screen
&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

/*
&pio {
	/omit-if-no-ref/
	i2c4_pins: i2c4-pins {
		pins = "PI2", "PI3";
		function = "i2c4";
	};
};

&i2c4 {
	pinctrl-0 = <&i2c4_pins>;
	status = "okay";
};
*/

&ir0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ir0_rx_pin>; /* PB04 */
	status = "okay";
};

// TF
&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 7 1 GPIO_ACTIVE_LOW>; /* PH1 */
	status = "okay";
};

// EMMC
/*
/ {
	mmc2_pwrseq: mmc2_pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&pio 2 16 GPIO_ACTIVE_LOW>;
	};
};
*/
&mmc2 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	non-removable;
	// mmc-pwrseq = <&mmc2_pwrseq>;
	status = "okay";

	emmc: emmc@0 {
		reg = <0>;
		compatible = "mmc-card";
		broken-hpi;
	};
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&reg_ahci_5v {
	gpio = <&pio 7 12 GPIO_ACTIVE_HIGH>; /* PH12 */
	status = "okay";
};

&reg_usb1_vbus {
	status = "okay";
};

&reg_usb2_vbus {
	status = "okay";
};

/* UART
* NO: TX,	RX	, RTS,	CTS
*  0: PB22, PB23
*  1: None
*  2: PI18, PI19
*  3: PG06, PG07, PG08, PG09
*  4: PG10, PG11
*  5: PI10, PI11
*  6: PI12, PI13
*  7: PI20, PI21
*/

// debug
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

// SP3485E: DI, RO
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pi_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pg_pins>, <&uart3_cts_rts_pg_pins>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pg_pins>;
	status = "okay";
};

// MAX3232: T1, R1
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pi_pins>;
	status = "okay";
};

// MAX3232: T2, R2
&uart6{
	pinctrl-names = "default";
	pinctrl-0 = <&uart6_pi_pins>;
	status = "okay";
};

// LTE
&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart7_pi_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

// PH02 IRQ_TYPE_LEVEL_LOW / GPIO_ACTIVE_LOW
#include "axp209.dtsi"

&ac_power_supply {
	status = "okay";
};

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1450000>;
	regulator-name = "vdd-cpu";
};

&reg_dcdc3 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1400000>;
	regulator-name = "vdd-int-dll";
};

&reg_ldo1 {
	regulator-name = "vdd-rtc";
};

&reg_ldo2 {
	regulator-always-on;
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-name = "avcc";
};

&reg_usb0_vbus {
	status = "okay";
};

&reg_usb1_vbus {
	status = "okay";
};

&reg_usb2_vbus {
	status = "okay";
};

&usb_power_supply {
	status = "okay";
};

&usbphy {
	usb0_id_det-gpios = <&pio 7 4 GPIO_ACTIVE_HIGH>; /* PH04 */
	usb0_vbus_power-supply = <&usb_power_supply>;
	usb0_vbus-supply = <&reg_usb0_vbus>;
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
	status = "okay";
};

/* GPIO
*  PI05, I/O
*  PI06, I/O
*  PI07, I/O
*  PI08, I/O
*  PI09, I/O
*  PH07, LVDS-BL:O/F
*  PH08, LVDS-DSATA:VCC
*  PH21, RTP/CTP:X-/INT
*  PB13, RTP/CTP:Y+/WAKE
*  PH24, LED
*  PB04, IR
*/
